body {
  font-family: 'Roboto';
  background: #fff;
  color: #333;
  padding: 20px;
}

body.dark-mode {
  background: #202020;
  color: #e0e0e0;
}


h1 {
  text-align: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-container{
  width: 100%;
  max-width: 400px;
}

.todo-container {
  background: #f3f2f2;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
body.dark-mode .todo-container {
  background: #353535;
  box-shadow: 0 2px 10px rgba(13, 13, 13, 0.6);
}

.todo-container .input-wrapper {
  display: flex;
  gap: 10px;               /* space between input & button */
}

.todo-container input {
  width: calc(100% - 100px); /* adjusted for bigger button */
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #dadada;
  border-radius: 6px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-family: 'Roboto'; 
}

body.dark-mode .todo-container input {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #282828;
}

.add-btn {
  padding: 12px 20px; /* slightly bigger button */
  border: none;
  background-color: #1976d2;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-size: 16px; /* slightly larger text */
}

.add-btn:hover {
  transform: scale(1.05);
  background-color: #1565c0;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: grab;
  font-family: 'Roboto';
  font-size: 18px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

body.dark-mode li {
  background: #2c2c2c;
  border: 1px solid #444;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

li.dragging {
  opacity: 0.0;
}

.delete-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.delete-btn:hover {
  transform: scale(1.2);
}

.ad1, .ad2 {
  min-width: 300px;
}